//- ====================
//- Project: 
//- 26-10-2018: FedorVinecky
//- --------------------
//- Иконка
//- ====================

mixin icon(name)
    +b('i').icon( class!=attributes.class, class=`-icon-${name}` )