// Fonts
@font-base: "AkrobatGl-RegularA";


.font-regular(){font-family: "AkrobatGl-RegularA";}
.font-bold(){font-family: "AkrobatGl-BoldA";}
.font-globus(){font-family: "globusmarket";}
.globus(){font-family: "globus";}

// Animation
@animation-time: 0.3s;
@double-animation: 0.6s;

@100: 100%;


.icon-size(@size) {
    height: @size;
    line-height: @size;
    font-size: @size;
}

// MediaQ - теперо подключаются в layout
// @desktop: ~"(max-width: 1439px)";
// @desktop-min: ~"(max-width: 1169px)";
// @tablet: ~"(max-width: 1023px)";
// @mobile: ~"(max-width: 767px)";

// Colors
// Цвета theme. Не трогать!!!
@cl-theme-global: @cl-font-main;
@cl-theme-link: @cl-font-main;
@cl-theme-link-hover: @cl-font-light;
@cl-theme-grey: @cl-gray;

// Цвета текста
@cl-font-main: @cl-very-dark-gray;
@cl-font-light: @cl-gray;

/* Добавлять по категориям cl-элемент
/* @cl-button-bg: @Var */

// Общий док
@background: @cl-white;

// разделитель между секция
@hr-main: @cl-gray;

// элементы формы (input, textarea, select, etc)
@form-back: @cl-white;
@form-border: @cl-gray;

// Checkbox
@checkbox-back: @cl-gray;
@checkbox-back-hover: @cl-gray;
@checkbox-back-checked: @cl-font-main;
@check-mark: @cl-white;

// Radiobutton
@radio-back: @cl-white;

// кнопки с бэком без бордера
@button-main-back: @cl-black;
@button-main-hover: @cl-gray;
@button-main-active: @cl-gray;

// кнопки прозрачные
@button-transparent-back: @cl-transparent;
@button-transparent-hover: @cl-gray;
@button-transparent-active: @cl-gray;





// ------
// ЦВЕТА 
// ------

// // Alpha colors
// // @cl-alpha: rgba(255, 255, 255, .2); // цвет + описание
@box-shadow: 0px 1px 5px 0 rgba(193, 132, 0, 0.2);

// Основные цвета
@cl-transparent: transparent;
@cl-white: #ffffff;
@cl-black: #000000;
@cl-gray: #797979;
// Генерируемые цвета - ниже не пишем ничего сами )
@cl-very-dark-gray: #3f3f3f;
@cl-light-gray: #909090;
@cl-font-red: #e63232;
@cl-yellow: #f2a900;
@cl-yellow-hover: #feb91a;
@cl-yellow-link-hover: #f9d7a3;
@cl-yellow-link-active: #fbe7cb;
@cl-border-gray: #ededed;
@cl-border-counter: #888888;
@cl-counter-disable: #f7f7f6;
@cl-light-gray-icon: #e4e2e2;
@cl-border-button: #efefef;
@cl-other-gray: #999999;
@cl-tooltip-text: #565656;
@cl-circle-border: #ebebeb;
@cl-close-icon: #6d6d6d;
@cl-phone-color: #101010;
@cl-aero-link: #f7e2cf;
@cl-arrow-color: #b4b4b4;
@cl-arrow-color-hover: #f5f5f5;