//- ====================
//- Project: Gui
//- 24-10-2018:
//- --------------------
//- Gui
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'gui'

//- Модифицируем head
block head
    - var pageTitle = 'gui';

//- Выводим попапы
//- block popup
    //- Попап

//- Выводим content
block content
  
    .b-container
        h1 Gui
        p(style="  font-size: 48px; color: #3f3f3f; font-weight: bold;") Шрифты 
        //- Заголовок
        br
        br
        i.icon-arrow
 
        

        div(style='height: 200px;')